        <!-- <div class="text-center">
            <button type="button" class="btn btn-success" id="btnCreatePlaylist">Create Playlist</button>
        </div> -->

        <nav class="navbar fixed-bottom">
            <div class = "container">
                <button type="button" class="btn btn-success btn-inline" id="btnCreatePlaylist">Create Playlist</button>
            </div>
        </nav>

    </body>
</html>     