<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Welcome to BPM</h1>
                    <p class="lead">Login to your Spotify Account and create your own playlist based on BPM (beats per minute)</p>
                    <hr class="my-4">
                    <p>Select your desired tempo (BPM) and music genre, then click search. From there you can simply click on any song that you like and quickly build the perfect playlist for your next workout! </p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-lg" href="/login" role="button">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>