<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Welcome to BPM</h1>
                    <p class="lead">Create a Spotify Playlist based on BPM</p>
                    <hr class="my-4">
                    <p>PBR heirloom bespoke waistcoat, forage everyday carry small batch.</p>
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Get Started!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">            
        </div>
    </div>
</div>

<% include partials/footer %>