<% include partials/header %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<h1>Spotify Auth Complete</h1>
<p>time for playlist creation</p>
<!--The line below is bad and was done for quick testing purposes only. it needs to be removed and the token needs to be handled much more securly-->
<p id="dontdothis"><%= accessToken %></p>


<form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Beats Per Minute</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="bpmRequested">
    </div>
    <div class="form-group">
        <label for="genres">Select Genre: </label>
        <select class="form-control" id="genres">
        </select>
      </div>
</form>

<button type="button" class="btn btn-success" id="btnSearch">Search</button>
<button type="button" class="btn btn-danger" id="btnCreatePlaylist">Create Playlist</button>

<div class="card-deck" id="resultParent">
</div>
<div id="time">
</div>

<script src="js/playlist.js"></script>
<% include partials/footer %>