<% include partials/header %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<div class="container">
    <div class="jumbotron">
        <div>
            <h1>Create your playlist:</h1>
        </div>
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Beats Per Minute</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="bpmRequested">
            </div>

            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Genre</span>
                    </div>
                    <select class="form-control" id="genres"></select>
            </div>

            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Playlist Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="playlistName">
            </div>
            <button type="button" class="btn btn-success" id="btnSearch">Search</button>
            <button type="button" class="btn btn-danger float-right" id="btnCreatePlaylist">Create Playlist</button>
        </form>
    </div>

    <div class="card-deck" id="resultParent">
    </div>
    <div id="time">
    </div>
</div>
<script type='text/javascript' src="js/playlist.js"></script>
<% include partials/footer %>