html, body{
    height: 100%;
  }

body { 
  background-image: url('/img/bg.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #ffd582;
}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
  
}

.wrapper {
  height: 100%; 
  width: 100%; 
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  height:45%;
  bottom: 0; 
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 0.5em;
}

.jumbotron {
  margin-top: 2em;
}

.card {
  background-color: #fff;
  min-width: 300px;
  min-height: 300px;
  margin: 1em;
  padding: 1em;
  float: left;
}

.selectedTrack {
  background-color: #84bd00;
  color: #fff;
}

.navbar {
  background-color: none;
}
.fixed-top {
  padding: 50px;
}
.playlistDuration {
  background: #83be00;
  color: black;
  margin: auto;
  width: 50%;
  height:auto;
  text-align: center;
  border-radius: 12px;
}

.container {
  margin: 0 auto;
  width: 80%;
  align-content: right;
}

div.fixed {
  margin: 0 auto;
  width: 69%;
  position: fixed;
  bottom: 10px;
  z-index: 1;
} 
#createPlaylist{
  align-items: center;
}